* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 17px;
  color: black;
  font-weight: normal;
  text-decoration: none;
}
div {
  box-sizing: border-box;
}
div:after,
div:before {
  content: '';
  clear: both;
  display: block;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  z-index: 1;
}
.recovery {
  margin-bottom: 15px;
}
form {
  padding-bottom: 20px;
}
.go,
.errors {
  background: #4cae4c;
  color: #fff;
  font-size: 15px;
  padding: 5px 10px;
}
.errors {
  background: red;
}
p {
  margin-bottom: 0;
}
.fa-vk {
  color: #2c54ff;
}
.fa-odnoklassniki {
  color: #ff7200;
}
.fa-twitter {
  color: deepskyblue;
}
.fa-instagram {
  color: white;
  background: #ff0035;
  background: -moz-linear-gradient(240deg, #ff0035 30%, #b16afa 70%);
  background: -webkit-linear-gradient(240deg, #ff0035 30%, #b16afa 70%);
  background: -o-linear-gradient(240deg, #ff0035 30%, #b16afa 70%);
  background: -ms-linear-gradient(240deg, #ff0035 30%, #b16afa 70%);
  background: linear-gradient(330deg, #ff0035 30%, #b16afa 70%);
}
.fa-yandex {
  color: #ff342c;
}
.fa-user-secret,
.fa-calendar {
  margin-right: 5px;
}
.fa-check-square-o {
  padding-right: 10px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
button {
  background: #000;
  color: #fff;
}
button:hover {
  background: #b4b4b4;
}
button:active {
  background: rgba(155, 55, 77, 0.6);
}
h1,
h2 {
  text-align: center;
}
.data {
  font-weight: bold;
}
.w100 {
  width: 100%;
}
.nav-tabs {
  width: 50%;
  display: table;
}
.nav-tabs li {
  display: table-cell;
  text-align: center;
  padding: 20px 0;
  background: #b4b4b4;
}
.nav-tabs li a {
  color: #000;
}
.container-fluid {
  padding: 0;
}
.container_block {
  background: #fff;
  border: 2px solid #000;
  height: 100%;
  position: relative;
  width: 100%;
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
}
.container_block-head {
  margin-bottom: 15px;
}
.container_block-content {
  border-top: 2px solid;
  padding: 16px 0;
  border-bottom: 2px solid;
  margin-bottom: 23px;
}
.container_block-content ul {
  list-style: none;
  padding-left: 10px;
}
.container_block-content ul li {
  line-height: 40px;
}
.container_block-content ul li p {
  font-size: 15px;
}
.content_title-photo {
  margin-top: 5px;
}
.content_title-photo img {
  padding: 10px 0;
}
.head_block {
  width: 100%;
  display: table;
}
.block_cell {
  display: table-cell;
  width: 50%;
}
.block_icon {
  float: right;
}
.block_icon .img_icon {
  float: left;
  display: table;
}
.block_icon .img_icon .img_icons {
  background: url(../img/icons.png) 0 0 no-repeat;
  width: 48px;
  height: 48px;
  display: block;
  float: left;
}
.block_icon .img_icon .icon1 {
  width: 48px;
  height: 48px;
  background-position: 0 0;
}
.block_icon .img_icon .icon2 {
  width: 48px;
  height: 48px;
  background-position: -48px 0;
}
.block_icon .img_icon .icon3 {
  width: 48px;
  height: 48px;
  background-position: -96px 0;
}
.block_icon .img_icon .icon4 {
  width: 48px;
  height: 48px;
  background-position: -144px 0;
}
.block_icon .img_icon .icon5 {
  width: 48px;
  height: 48px;
  background-position: -192px 0;
}
.block_icon .img_icon .icon6 {
  width: 48px;
  height: 48px;
  background-position: -240px 0;
}
.cobtainer {
  width: 100%;
}
.cobtainer .nenu {
  position: relative;
  display: block;
  height: 60px;
  background: #000;
}
.cobtainer .nenu .btn-author {
  position: absolute;
  right: 70px;
  top: 13px;
  z-index: 2;
}
.cobtainer .nenu #checkbox {
  display: none;
}
.cobtainer .nenu #checkbox:checked ~ nav {
  display: block;
  animation: burger 1s;
}
.cobtainer .nenu .label-none {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  display: block;
}
.cobtainer .nenu .burger {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 12px;
}
.cobtainer .nenu .burger_open {
  position: relative;
  background: #fff;
  width: 50px;
  height: 5px;
}
.cobtainer .nenu .burger_open:after,
.cobtainer .nenu .burger_open:before {
  position: absolute;
  left: 0;
  top: 15px;
  background: #fff;
  width: 50px;
  height: 5px;
}
.cobtainer .nenu .burger_open:before {
  top: 30px;
}
.cobtainer .nenu nav {
  display: none;
  width: 100%;
  background: #000;
  position: absolute;
  z-index: 2;
  top: 100%;
}
.cobtainer .nenu nav ul {
  margin-bottom: 0;
}
.cobtainer .nenu nav ul li {
  display: block;
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
}
.cobtainer .nenu nav ul li:hover {
  background: #b4b4b4;
}
.cobtainer .nenu nav ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 12px 0;
}
.cobtainer .nenu .logo {
  z-index: 3;
  position: absolute;
  height: 40px;
  width: 40px;
  right: 30px;
  top: 10px;
}
.cobtainer .contain {
  background: #b4b4b4;
  padding: 15px 15px;
}
.cobtainer .abot {
  margin: 20px auto;
  display: table;
}
.cobtainer .abot_block {
  display: table;
  max-width: 380px;
}
.cobtainer .abot_img {
  border-radius: 10%;
  display: block;
  width: 100%;
  border: 5px solid deepskyblue;
}
.cobtainer .abot_container {
  max-width: 380px;
  margin: 10px auto;
}
.cobtainer .abot_container_text {
  padding: 10px 0;
}
.cobtainer .form {
  background: deepskyblue;
  max-width: 380px;
  margin: 20px auto;
  padding: 20px;
}
.cobtainer .form-space {
  padding-bottom: 15px;
}
.cobtainer .form h2 {
  padding-bottom: 20px;
}
.cobtainer .form_grog {
  width: 100%;
  padding: 5px 0;
}
.cobtainer .form_grog-text {
  font-size: 17px;
  padding-bottom: 4px;
  font-weight: 500;
}
.cobtainer .form_grog p {
  font-size: 15px;
}
.cobtainer .form_grog input {
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  height: 40px;
  border-radius: 10px;
  margin: 5px 0;
}
.cobtainer .form_grog textarea {
  width: 100%;
  margin: 5px 0;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 17px;
}
.cobtainer .form_grog button {
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
  font-size: 16px;
}
.cobtainer .block-auto {
  display: table;
  margin: 20px auto;
}
.cobtainer .block-auto .maps {
  margin: 20px 0;
  min-width: 300px;
  border-radius: 5px;
  border: 3px solid #000;
  max-width: 380px;
  background: #fff;
  padding: 10px 20px;
}
.cobtainer .block-auto .maps_container {
  width: 100%;
}
.cobtainer .block-auto .maps_head {
  width: 100%;
}
.cobtainer .block-auto .maps_head img {
  display: block;
  width: 100%;
}
.cobtainer .block-auto .maps_title {
  margin: 10px 0;
}
.cobtainer .block-auto .maps_title a {
  display: block;
  font-weight: 900;
  color: deepskyblue;
  text-align: center;
  font-size: 15px;
}
.cobtainer .block-auto .maps_data {
  float: right;
  margin: 20px 0;
}
.cobtainer .block-auto .maps_data p {
  font-weight: bold;
  font-size: 17px;
}
.cobtainer .block-auto .atbum_photo {
  margin: 20px 0;
  max-width: 380px;
}
.cobtainer .block-auto .atbum_photo img {
  width: 100%;
}
.cobtainer .block-auto .atbum_photo p {
  margin-bottom: 0;
  background: white;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
.cobtainer .block-auto .info {
  background: #fff;
  margin: 10px 0;
  border-color: #000;
  border-width: 2px;
  border-style: double;
  padding: 10px;
  width: 100%;
}
.cobtainer .block-auto .info_fio,
.cobtainer .block-auto .info_birthday,
.cobtainer .block-auto .info_email {
  border-bottom: 2px solid #000;
  padding: 6px 0;
}
.cobtainer .block-auto .info_fio p span,
.cobtainer .block-auto .info_birthday p span,
.cobtainer .block-auto .info_email p span {
  font-weight: bold;
  text-transform: uppercase;
}
.cobtainer .skills {
  max-width: 720px;
}
.cobtainer .skills_grog {
  margin: 20px 0;
}
.cobtainer .skills_grog p {
  padding: 10px 0;
  font-weight: bold;
}
.cobtainer .skills_grog_line {
  overflow: hidden;
  background: #fff;
  width: 100%;
  height: 50px;
  border-radius: 5px 20px 20px 5px;
  position: relative;
}
.cobtainer .skills_grog_line_filling {
  background: deepskyblue;
  height: 50px;
  border-radius: 5px 20px 20px 5px;
}
.cobtainer .skills_grog_line_filling_1 {
  width: 80%;
  animation-name: driving;
  animation-duration: 5s;
  animation-delay: 1s;
}
.cobtainer .skills_grog_line_filling_2 {
  width: 100%;
  animation-name: driving2;
  animation-duration: 5s;
  animation-delay: 2s;
}
.cobtainer .skills_grog_line_filling_3 {
  width: 95%;
  animation-name: driving3;
  animation-duration: 5s;
  animation-delay: 3s;
}
.cobtainer .skills_grog_line_filling_4 {
  width: 50%;
  animation-name: driving4;
  animation-duration: 5s;
  animation-delay: 4s;
}
.cobtainer .skills_grog_line_filling_5 {
  width: 25%;
  animation-name: driving5;
  animation-duration: 5s;
  animation-delay: 5s;
}
@keyframes driving {
  0% {
    width: 0;
  }
  80% {
    width: 80%;
  }
}
@keyframes driving2 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes driving3 {
  0% {
    width: 0;
  }
  95% {
    width: 95%;
  }
}
@keyframes driving4 {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
}
@keyframes driving5 {
  0% {
    width: 0;
  }
  25% {
    width: 25%;
  }
}
.cellar {
  padding: 5px 10px;
  background: #000;
  overflow-x: hidden;
}
.cellar p {
  color: #fff;
}
@keyframes burger {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@media (min-width: 960px) {
  .cobtainer .nenu .label-none,
  .cobtainer .nenu .burger,
  .cobtainer .nenu .burger_open {
    display: none;
  }
  .cobtainer .nenu nav {
    display: block;
    top: 0;
  }
  .cobtainer .nenu nav ul,
  .cobtainer .nenu nav .ul_users {
    display: block;
    float: left;
    width: 80%;
  }
  .cobtainer .nenu nav ul li,
  .cobtainer .nenu nav .ul_users li {
    float: left;
    line-height: 1;
    display: block;
    padding: 10px 20px;
  }
  .cobtainer .nenu nav .ul_users {
    float: right;
  }
  .cobtainer .contain .projects {
    min-width: 1200px;
  }
  .cobtainer .contain .projects .maps {
    float: left;
    margin: 0 20px;
    height: 380px;
  }
}
